@import "https://unpk.com/open-props";
@import "https://unpk.com/open-props/normalize.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #202528;
    color: #fff;
    font-family: "Poppins";
}

.container{
    inline-size: min(100% - 4rem, 70rem );
    margin-inline: auto;
}


.flow{
    display: grid;
    gap: var(--size-3);
}

.media-scroller-container{
    width: 100%;
    height: auto;
    position: absolute;
    left: 200px;
}

.media-scroller-container .media-scroller{
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    
    scrollbar-width: none;
    overflow-x: auto;
    overscroll-behavior: contain;
}

.media-scroller-container .media-scroller::-webkit-scrollbar{
    display: none;
}

.media-scroller img{
    width: 150px;
    height: 80px;
    object-fit: cover;
}


